.buff-container{
    position: fixed;
    top: 110px;
    left: calc(50% + 510px);
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    border: 3px solid green;
    border-left: 22px solid green;
    background-color: black;
    border-radius: 3px;
}

.buff-img{
    width:32px;
    height:32px;
    /* border:1px solid white; */
    /* border-radius: 2px; */
}
.hidden{
    display: none;
}